DATABASE_URL=postgresql://usuario:password@localhost:5432/melamina
MERCADOPAGO_ACCESS_TOKEN=TEST-7349679429681310-062509-997854da3fb89338d789638a9870cc03-3333480067
ADMIN_API_KEY=mi-clave-secreta-admin
FRONTEND_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu@gmail.com
SMTP_PASS=tu-app-password
EMAIL_FROM=MelaminaPro 
PORT=3001
